.nav {
    grid-area: n;
    background-color: greenyellow;
    padding: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav a.activeLink {
    color: black;
}

.nav .settings {
    margin-top: 14%;
}

.nav .friends {
    margin-top: 30%;
}